body{
    margin: 0;
    display: grid;
    grid-template-areas: 
    'cabecera cabecera'
    'lado productos'
    'pie pie';
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    grid-area: cabecera;
    background-color: #774a7e;
}

header img{
    width: 17%;
    padding: 5px 0px;
}

aside{
    grid-area: lado;
    background-color: rgb(223, 223, 223);
    display: flex;
    flex-direction: column;
}

aside a{
    color: black;
    text-decoration: none;
}

aside a:hover{
    text-decoration: underline;
}

aside h3{
    color: white;
    padding: 1.5em;
    margin: 0;
}

aside i{
    color: black;
    padding-right: 10px;
}

aside h3 a{
    text-decoration: none;
}

aside h4{
    padding-left: 1.7em;
    margin: 7px 0px;
}

aside p{
    padding-left: 1em;
    margin: 5px;
}

main{
    grid-area: productos;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    background-color: gray;
}

.producto{
    background-color: white;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #79749b;
}

.producto img{
    width: 50%;
}

.producto-nombre{
    font-weight: bold;
}

.producto p{
    padding: 0px 20px;
    text-align: center;
}
.producto button{
    padding: 15px 50px;
    margin-bottom: 20px;
}

.producto button i{
    padding-right: 10px;
}

.producto a{
    text-decoration: none;
}

footer{
    grid-area: pie;
    background-color: #b29ab6;
    text-align: center;
    font-size: small;
}

.footer-info{
    display: grid;
    grid-template-areas: 'enlaces rrss';
    grid-template-columns: 1fr 1fr;
}

.footer-enlaces{
    grid-area: enlaces;
    text-align: center;
}

.footer-enlaces ul{
    list-style: none;
    padding: 0;
}

.footer-enlaces a{
    color: #774a7e;
    text-decoration: none;
}

.footer-enlaces a:hover{
    text-decoration: underline;
}

.footer-rrss{
    grid-area: rrss;
}


